<div class="feed-wrapper">
  <div class="wrapper">
    <div class="input-wrapper">
      <input class="enter-msg" [(ngModel)]="messageContent" type="text" (keyup.enter)="sendMessage()" placeholder="Send message...">
    </div>

    <div class="message-feed">
      <div *ngFor="let msg of messages">
        <div class="message animate-[ease-in-out_1s]" [style.background-color]="'#' + msg.color">
          <div class="msg-sender">
            {{ msg.username }}
          </div>
          <div class="msg-content">
            {{ msg.message }}
          </div>
        </div>
      </div>
      <div *ngIf="messages.length === 0" class="bg-orange-100 rounded-xl p-4 font-bold flex">
        <div class="border-t-gray-100 border-4 border-orange-500 rounded-full w-6 h-6 animate-spin"></div>
        <span class="ml-4">Server ist am laden, hab etwas Geduld :)</span>
      </div>
    </div>
  </div>
</div>

